.social-media-p {
  font-weight: bold;
  font-size: 24px;
}
.footer-btn {
  border-radius: 50%;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.footer-above {
  background-color: darkorange;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 20px;
  min-height: 300px; 
}
.social-flex-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto; 
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the grid items horizontally */
}

@media (max-width: 768px) {
  .social-media-p,
  .social-media-icons {
    flex-basis: 100%;
    justify-content: center;
    text-align: center;
  }

  .social-flex-row {
    flex-direction: column; 
  }
}
